[submodule "jester_fork"]
	path = jester_fork
	url = https://github.com/ThomasTJdev/jester_fork.git
[submodule "httpbeast_fork"]
	path = httpbeast_fork
	url = https://github.com/ThomasTJdev/httpbeast_fork.git
[submodule "npeg"]
	path = npeg
	url = https://github.com/zevv/npeg.git
[submodule "checksums"]
	path = checksums
	url = https://github.com/nim-lang/checksums
