[submodule "jester_fork"]
	path = jester_fork
	url = https://github.com/ThomasTJdev/jester_fork.git
[submodule "httpbeast_fork"]
	path = httpbeast_fork
	url = https://github.com/ThomasTJdev/httpbeast_fork.git
