[submodule "npeg"]
	path = deps/npeg
	url = https://github.com/zevv/npeg.git
[submodule "checksums"]
	path = deps/checksums
	url = https://github.com/nim-lang/checksums
[submodule "deps/httpbeast_fork"]
	path = deps/httpbeast_fork
	url = https://github.com/ThomasTJdev/httpbeast_fork.git
[submodule "deps/jester_fork"]
	path = deps/jester_fork
	url = https://github.com/ThomasTJdev/jester_fork.git
