body {
    font-family: Courier;
    font-size: 18pt;
}
h1, h2, h3 {
    margin: 0
}

table.status {
    border-style: none;
}
table.status tr {
    border-style: none;
}
table.status tr td {
    border-style: none;
}
/*table.status tr td:nth-child(odd) {
    border-style: none;
    background-color: lightgray;
}*/
th.status1, td.status1 {
    border-style: none;
    background-color: lightgray;
}
th.status2, td.status2 {
    border-style: none;
    background-color: white;
}

table.nolines {
    border-style: none;
}
table.nolines tr {
    border-style: none;
}
table.nolines tr td {
    border-style: none;
    background-color: white;
}

table.showbranch tr td {
    padding: 0 0.2em 0;
    /* background-color: yellow; */
    white-space: pre;
}

table.showbranch tr td:nth-last-child(1) {
    /* background-color: lightgray; */
    white-space: normal;
    padding:0 .5em 0;
}

table.showbranch tr td:nth-last-child(2) {
    /* background-color: lightgray; */
    white-space: normal;
    padding:0 .5em 0;
}

table {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}
td, tr {
    border-style: dashed;
    border-width: 1px;
    border-color:lightgray;
    vertical-align: top;
    padding:0 .5em 0;
}
th {
    padding:0 .5em 0;
    text-align: left;
}
table.diff tr td {
    white-space: pre;
    font-size: 70%;
}

/* table.diff tr td:first-of-type {
    font-family: cursive;
    color: white;
    background-color: green;
}*/
/*table.diff tr td:nth-child(3) {
    border-left: 5px solid white;
}*/
td.yeven {
    border-left: 5px solid red;
}
td.yodd {
    border-left: 5px solid yellow;
}

tr.head td {
    font-size:120%;
}

tr.highlight td {
    background-color: lightgray;
}

tr.newyear {
    font-size: 200%;
}

td.re {
    text-align: right;
}

td.Acmp {
    width:50em;
    white-space: pre;
    color: red;
    /*
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}
td.Acmp span {
        /*  span mit fester Breite */
            display: inline-block;
            width: 3em;
        color: black;
        background-color: #f88;
        padding: 0 0.5em 0 0;
}
td.Bcmp {
    color: green;
    width:50em;
    white-space: pre;
}
td.Bcmp span {
        /*  span mit fester Breite */
            display: inline-block;
            width: 3em;
        color: black;
        background-color: #8f8;
        padding: 0 0.5em 0 0;
}
td.Ncmp {
    color:black;
    white-space: pre;
}
td.Ncmp span {
        /*  span mit fester Breite */
            display: inline-block;
            width: 3em;
        color: black;
        background-color: white;
        padding: 0 0.5em 0 0;
}
