
#columnbox {
    background-color: yellow;
    font: 16pt Monospace;
}

label#hinweis {
    border-width: 2px;
    border-color: #00f;
    color: #ff00ea;
    font: 12pt Monospace;
}

row {
    padding: 0;
    margin: 0;
    color: black;
    font: 6pt Monospace;
}

.ebox {
    background-color: green;
    padding: 0;
    margin: 0;
}

#buttons {
    background-color: lightgray;
    padding: .5em 1em .1em;
}
button#addrepo {
    margin: .2em 0 0;
}
button#remrepo {
    margin: .2em 1em 0 .1em;
}
button#closebutton {
    margin: .2em .2em 0 5em;
}

listboxrow.reporow {
    margin: 0;
    padding: 0;
    background-color: orange;
}

flowbox.reporow {
    margin: 0;
    padding: 0;
    background-color: orangered;
}

.repodetail {
    color: #111;
    margin: 0;
    padding: 0;
}

.reporunning {
    background-color: white;
    color: cyan;
}

.reporunning .check {
    color: orange;
}
